{% load static %} {% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>My Website</title>
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <header>
      <nav>
        <ul>
          {% if user.us_authenticated %}
          <li>
            <a href="{% url 'show_my_tasks'%}">My tasks</a>
          </li>
          <l1>
            <a href="{% url 'list_projects'%}">My projects</a>
          </l1>
          <li>
            <a href="{% url 'logout'%}">Logout</a>
          </li>
          {% else %}
          <li>
            <a href="{% url 'login'%}">Login</a>
          </li>
          <li>
            <a href="{% url 'signup' %}">Logout</a>
          </li>
          {% endif %}
        </ul>
      </nav>
    </header>
    <main>
      <div>
        <h1>My Tasks</h1>
        <thead>
          <tr>
            <th>Name</th>
            <th>Start date</th>
            <th>Due date</th>
            <th>Is completed</th>
          </tr>
        </thead>
        <tbody>
          {% if tasks %} {% for task in tasks%}
          <tr>
            <td>{{task.name}}</td>
            <td>{{task.start_date}}</td>
            <td>{{task.due_date}}</td>
            <td>{{task.is_completed|yesno:"yes, no"}}</td>
          </tr>
          {% endfor %}
        </tbody>
        {% else %}
        <p>You have no tasks</p>
        {% endif %}
      </div>
    </main>
    {% endblock content %}
  </body>
</html>
